body{
    background-color: #e8e8e8;
    text-align: center;
}
header div{
    background-color: #66b3ff;
    text-align: center;
    width: 30%;
    border-radius: 20px;
    margin: auto;
    color: black;
    margin-bottom: 2%;
}
td{
    border-bottom: 2px solid cyan;
    text-align: left;
    max-width: 20%;
}
th{
    text-align: left;
}
a{
    text-decoration: none;
    color: black;
}
table{
    margin-bottom: 5%;
    margin: auto;
    width: 50%;
}
.icono{
    width: 40px;
    opacity: 0.8;  
    text-align: center;
}
.icono:hover{
    opacity: 1;
}
footer{
    background-color: #66b3ff;
    width: 100%;
    height: 6vh;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}
footer a{
    color: black;
}
.script{
    background-color: #66b3ff;
    padding: 15px;
    width: 3%;
    font-weight: bold;
}
form{
    display: inline-block;
    margin-bottom: 4%;
}
.images{
    text-align: center;
}
.iconoFooter, .iconoFooter2, .iconoFooter3, .iconoFooter4{
    width: 2vw;
    opacity: 0.8;    
    position: fixed;
    
}
.iconoFooter{
    left: 90vw;
    top: 95vh;
}
.iconoFooter2{
    left: 10vw;
    top: 94.5vh;
}
.iconoFooter3{
    left: 15vw;
    top: 94.5vh;
}
.iconoFooter4{
    width: 2.5vw;
    left: 20vw;
    top: 94.5vh;
}
.iconoFooter:hover, .iconoFooter2:hover, .iconoFooter3:hover, .iconoFooter4:hover{
    opacity: 1;
}
.bandera{
    width: 60px;
    opacity: 0.8;    
    position: relative;
    top: -250px;
}
.bandera:hover{
    opacity: 1;
}

button, input[type="submit"], input[type="button"]{
    box-shadow:inset 0px -3px 7px 0px #29bbff;
	background: #66b3ff;
	background-color:#66b3ff;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
        font-size: 20px;
        
}
button:hover, input[type="submit"]:hover, input[type="button"]:hover{
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color:#0688fa;
}

#volver{
    position: fixed;
    left: 10vw;
    top: 3vh;
}
#menuUsuario{
    position: fixed;
    left: 80vw;
    top: 3vh;
}
h3{
    font-family: Arial;
}

