fieldset{
    position: relative;
    height: 120px
}

p{
    height: 40px;
    font-size: 20px;
    font-family: Arial;
}
input[type='checkbox']{
    width: 35px;
    height: 35px;
    
}

.genero{
    position: absolute;
    right: 20px;
    bottom: 0;
    display: block;
    width: 100px;
}
.genero input{
    float:right;
}

.shiny-box{
    position: absolute;
    bottom:0;
}


#pokemon{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    float: right;
}
.obligatorio{
    height: 50px;
}
.error{
    background-color: #ff708c;
    width: 15%;
    padding: 0.5%;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
}
#epokemon{
    top: 175px;
}
#egenero{
    top: 230px;
    background-color: #e6b800;
}
.pokemonSprite{
    position: absolute;
    left: 15vw;
    width: 10vw;
}
.pokemonSprite2{
    position: absolute;
    left: 24vw;
    width: 10vw;
}
fieldset *{
    font-family: Arial;
    font-size: 20px;
}
fieldset label{
    float:left;
}
.pokedatos{
    position: fixed;
    left: 8vw;
    top: 20vh;
}