label{
    float: left;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    font-family: Arial;
}
input{
    font-size: 20px;
}
#cod, #vol, #desc{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    float: right;
}
.obligatorio{
    height: 50px;
}
.error{
    background-color: #ff708c;
    width: 15%;
    padding: 0.5%;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
}
#ecod{
    top: 160px;
}
#edesc{
    top: 230px;
}
#evol{
    top: 295px;
}
.volver{
    position: absolute;
    top: 20px;
}
.icono{
    width: 80px;
}