fieldset{
    position: relative;
    height: 150px
}

input[type='checkbox']{
    width: 35px;
    height: 35px;
    
}

.genero{
    position: absolute;
    right: 20px;
    bottom: 30px;
    display: block;
    width: 100px;
}
.genero input{
    float:right;
}

.shiny-box{
    position: absolute;
    bottom: 40px;
}


#pokemon{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    float: right;
}
.obligatorio{
    height: 50px;
}
.error{
    background-color: #ff708c;
    width: 15%;
    padding: 0.5%;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
}
#epokemon{
    top: 175px;
}
#egenero{
    top: 230px;
    background-color: #e6b800;
}
.pokemonSprite{
    position: absolute;
    left: 20vw;
    width: 10vw;
    top: 5vh;
}
.pokemonSprite2{
    position: absolute;
    left: 20vw;
    width: 10vw;
    top: 23vh;
}
fieldset *{
    font-family: Arial;
    font-size: 20px;
}
fieldset label{
    float:left;
}
.pokedatos{
    position: absolute;
    left: 12vw;
    top: 18vh;
}
.labelbuscador, .labelshiny{
    position: relative;
    top: 10px;
}
.labelshiny{
    position: relative;
    top: 7px;
}
.masInformacionPoke{
    color: blue;
    position: relative;
    top: 70px;
}


/*API PROPIA*/
#codPropio{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    float: right;
}
.labelbuscadorPropio{
    position: relative;
    top: 10px;
}
#epropio{
    top: 460px;

}
fieldset span{
    float: left;
}
.masInformacionPropio{
    color: blue;
    position: relative;
    top: 0px;
}