form{
    position: absolute;
    left: 20px;
    top: 20px;
}
label{
    float: left;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    font-family: Arial;
}
input{
    font-size: 20px;
}
#name, #pass{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    float: right;
}
.obligatorio{
    height: 50px;
}
.error{
    background-color: #ff708c;
    width: 13%;
    padding: 0.5%;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
}
#ename{
    top: 35px;
    left: 370px;
}
#epass{
    top: 105px;
    left: 370px;
}
.volver{
    position: absolute;
    top: 20px;
}
.icono{
    width: 80px;
}

.diagramaDeClases{
    position: absolute;
    top: 400px;
    left: 500px;
}
.imagenDiagramaDeClases{
    width: 37vw;
}

.estructuraDeAlmacenamiento{
    position: absolute;
    top: 350px;
    left: 0px;
}
.imagenEstructuraDeAlmacenamiento{
    width: 15vw;
}

.catalogoDeRequisitos{
    position: absolute;
    top: 500px;
    left: 72vw;
    
}
.imagencatalogoDeRequisitos{
    width: 25vw;
    border-radius: 20px;
}

/*Slider de recordar*/
.recordar{
    position: relative;
    left: 30px;
}
.trecordar{
    position: relative;
    left: 70px;
    bottom: 17px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #66b3ff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #66b3ff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*RELOJ*/
#marco{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 2px solid black;
    margin: auto;
    position: absolute;
    top: 3vh;
    left: 75vw;
}
#centro{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
    position: relative;
    /*                left: 48%;*/
    top: 10px;

}
#aguja{
    width: 2px;
    height: 75px;
    background-color: red;
    position: relative;
    top: 15px;
    transform-origin: 50% 100%;   /* Esto sirve para cambiar el eje desde el cual gira (Me lo dijo Alex ^^) */
    transition: 0.8s ease-in-out;

}
#minutero{
    width: 3px;
    height: 65px;
    background-color: black;
    position: relative;
    top: -60px;
    transform-origin: 50% 100%;   /* Esto sirve para cambiar el eje desde el cual gira (Me lo dijo Alex ^^) */

}
#horero{
    width: 5px;
    height: 45px;
    background-color: black;
    position: relative;
    top: -105px;
    transform-origin: 50% 100%;   /* Esto sirve para cambiar el eje desde el cual gira (Me lo dijo Alex ^^) */

}
#aguja, #minutero, #horero{
    border-radius: 20px;
}
#centro, #aguja, #minutero, #horero{
    margin: auto;
}
#doce{
    position: relative;
    top: -195px;
}
#tres{
    position: relative;
    left: 80px;
    top: -135px;
}
#seis{
    position: relative;
    top: -72px;
}
#nueve{
    position: relative;
    left: -80px;
    top: -170px;
}