.nuevo{
    width: 50px;
    top: -215px;
    left: 10px;
    position: relative;
    opacity: 0.8;
}
.nuevo:hover{
    opacity: 1;
}
.imagenTabla{
    width: 4vw;
    opacity: 0.8;
}
.imagenTabla:hover{
    opacity: 1;
}
label{
    float: left;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    font-family: Arial;
}
input[type="text"]{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    float: right;
}
input[type="submit"]{
    position: relative; 
    bottom: 15px;
}
fieldset{
    height: 120px;
}
table{
    position: absolute;
    left: 25vw;
    margin-bottom: 8vh;
    width: 50vw;
}
th{
    text-align: center;
}
#etiquetaEstado{
    position: relative;        
    left: -38%;
    text-decoration: underline;
}
#divEstadoEtiquetas{
    position: relative;        
    top: -15px;
    display: inline-block;
    left: -20px;
}
#divEstadoEtiquetas label{
    padding-right: 25px;
}
#divEstadoRadio{
    position: relative;        
    top: -35px;
    display: inline-block;
    left: -205px;
    z-index: -10;
}
#alta{
    margin-right: 50px;
}
#baja{
    margin-right: 65px;
}

#sugerencias{
    overflow: hidden;
   /* background-color: #f9f9f9; */
    background-color: #e8e8e8;
    border: 0px;
    font-family: Arial;
    width: 250px;
    position: relative;
    font-size: 15px;
    left: 133px;
    top: -145px;
    display: inline-block;
    z-index: 15;
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    height: 75px;
}
#sugerencias option:hover{
    cursor: pointer;
}
option{
    font-family: Arial;
}
td, th{
    font-family: Arial;
}
td:nth-child(5n-4){
    width: 10%;
    text-align: center;
}
td:nth-child(5n-3){
    width: 50%;
}
td:nth-child(5n-2){
    width: 10%;
    text-align: center;
}
td:nth-child(5n-1){
    width: 10%;
    text-align: center;
}
td:nth-child(5n){
    width: 10%;
    text-align: center;
}